{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<br>
<div class="ui aligned grid">
  <div class="six wide column">
    <h2 class="ui teal image header">
      <i class="sign out alternate icon"></i>
      <div class="content">
        Are you sure you want to sign out?
      </div>
    </h2>
    <form class="ui large form" method="POST" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
        <button class="ui fluid large teal submit button">Sign out</button>
      </div>

    </form>

  </div>
</div>


{% endblock %}
