{% url 'welcome-view' as path_to_welcome %}
{% url 'profiles:my-home-page-view' as path_to_my_home_page %}
{% url 'volunteer_listing:jobs_list_view' as path_to_volunteer_job_list %}

<div class="ui inverted menu nav mb-7">
    <div class="ui container">
      <a href="{{path_to_welcome}}" class="active item">
          <h3>Our NGO APP</h3>
      </a>

      {% if request.user.is_authenticated %}
      <a href="{{path_to_volunteer_job_list}}" class="{% if request.path == path_to_volunteer_job_list %}active{% endif %} item">
        Volunteer Listing
      </a>
      {% endif %}

      <div class="right menu">
          {% if request.user.is_authenticated %}
          <div class="item">
          </div>
              <a href="{{path_to_my_home_page}}" class="{% if request.path == path_to_my_home_page %}active{% endif %} item">
                  <img src={{picture.url}} class="ui avatar image">&nbsp;
                   {{ request.user }}
              </a>
              <a href="{% url 'account_logout' %}" class="ui item">
                  Logout
              </a>
          {% else %}
          <a href="{% url 'account_login' %}" class="ui item">
                  Login
              </a>
          {% endif %}
      </div>
    </div>
  </div>